.box{
    height: 500px;
    width: 500ppx;
    padding: 30px;
    border: 3px solid black;
    background-image:url(star12.jpg);
    /* background-clip: border-box; */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat repeat; */
    /* background-position: 10px 20px; */
    /* background-size: contain; */
    border: 3px;dotte black;
    border: 3px dashed black;
    border: 3px double black;
    


    

}