
        .v1{
            text-decoration:overline dotted;
        }
        .abc{
            
            color: white;
            background-color: green;
           padding: 20px;

        }
        .hi{
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
      
        .h2{
            float: right;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .v2{
            float: right;
            padding: 10px;
               text-decoration: overline dotted ;
        }
        .y{
            margin: 10px;
            text-decoration: underline dotted;
        }
        .v2{
            text-align: right;
        }
        .o1{
              text-align: right;
        }