p{
    color: rgb(66, 79, 199);
    font-size: 50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-variant: small-caps;
}
#abc{
   color: rgb(73, 6, 6);
   font-family: "Playwrite IN Guides", cursive;
  font-weight: 400;
  font-style: normal;
  
}
.txt{
    color: rgb(0, 255, 42);
    font-family: serif;
    src: url(Limelight-Regular.ttf);
}   
